@page
@model GoCafe.Pages.Categorys.CreateModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Thêm mới";
}
@if(HttpContext.Session.GetString("UserRole")=="Quản trị viên")
{
<h1>Thêm mới</h1>

<h4>Thực đơn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Trở lại danh sách</a>
</div>
@if(HttpContext.Session.GetString("Trung")=="Trung"){
    <script>
        alert("Loại đã bị trùng");
    </script>
    HttpContext.Session.Remove("Trung");
}
}
else
{
    Layout=null;
    <h1>Bạn không đủ điều kiện để truy cập</h1>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
