@page
@model GoCafe.Pages.Categorys.EditCategory
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Edit";
}
@if(HttpContext.Session.GetString("UserRole")=="Quản trị viên")
{
<h1>Chỉnh sửa</h1>

<h4>Thực đơn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.CategoryId" />
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Trở Lại danh sách</a>
</div>
}
else
{
    Layout=null;
    <h1>Bạn không đủ yêu cầu để truy cập</h1>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
